<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghosn | Crop Recommendation System <img src="images/cloud.png" alt=""></title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

<!-- Navbar -->
<header class="navbar">
    <div class="logo">
      <a href="#">
        <img src="../static/images/plant.png" alt="Logo" class="logo-img" />
        Ghosn
      </a>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#features">Features</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="mailto:youremail@example.com">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  
    <section class="hero">
        <video autoplay muted loop class="hero-video">
            <source src="../static/images/1106651_trees_pines_4k_import60e0167b4c3a96142543671080p12000br.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <div class="hero-content"  >
            <h1 >Empowering Farmers with Smart Crop Decisions</h1>
        </div>
        <a href="#features" class="cta-button">Explore Features</a>
    </section>

    <style>
        /* Remove underline and set custom color */
        a {
            text-decoration: none;
            color: inherit; /* Keeps the link color the same as the surrounding text color */
        }
        
        /* If you want a specific color for links, use this */
        a {
            color: black; /* Replace 'black' with your desired color */
        }
    </style>
<!-- Features Section -->
<section id="features" class="features">
    <h2 class="features-heading">Our Features</h2>
    <div class="feature-items">

        <a href="crop-recommendation.html">
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="../static/images/crop.png" alt="Crop Recommendation System">
                </div>
                <h3>Crop Recommendation System</h3>
            </div>
        </a>
        
        <a href="web.html">
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="../static/images/pest.png" alt="Plant Disease Detection">
                </div>
                <h3>Plant Disease Detection</h3>
            </div>
        </a>
        
        <a href="xx.html">
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="../static/images/climate-change.png" alt="Soil Analysis">
                </div>
                <h3>Weather Forcasting</h3>
            </div>
        </a>

        <a href="Dashboard.html">
            <div class="feature-item">
                <div class="feature-icon">
                    <img src="../static/images/plant.png" alt="Soil Analysis">
                </div>
                <h3>Soil Analysis & Monitoring</h3>
            </div>
        </a>

        <div class="feature-item">
            <div class="feature-icon">
                <img src="../static/images/quality.png" alt="Plant Care">
            </div>
            <h3>Water Quality</h3>
        </div>

        <div class="feature-item">
            <div class="feature-icon">
                <img src="../static/images/yield.png" alt="Weather Monitoring">
            </div>
            <h3>Crop Yield Prediction</h3>
        </div>

        <div class="feature-item">
            <div class="feature-icon">
                <img src="../static/images/weeds.png" alt="Crop Recommendation System">
            </div>
            <h3>Weed Detection</h3>
         </div>
        
        <div class="feature-item">
            <div class="feature-icon">
                <img src="../static/images/health.png" alt="Plant Disease Detection">
            </div>
            <h3>Nitrogen Deficiency</h3>
        </div>
        
        <div class="feature-item">
            <div class="feature-icon">
                <img src="../static/images/dangerous.png" alt="Soil Analysis">
            </div>
            <h3>Dangerous insects Detection</h3>
        </div>

        <div class="feature-item">
            <div class="feature-icon">
                <img src="../static/images/sprinklers.png" alt="Crop Recommendation System">
            </div>
            <h3>Smart Watering Recommendation</h3>
        </div>
        
        <div class="feature-item">
            <div class="feature-icon">
                <img src="../static/images/soil.png" alt="Plant Disease Detection">
            </div>
            <h3>Soil Health Prediction</h3>
        </div>
        
        <div class="feature-item">
            <div class="feature-icon">
                <img src="../static/images/nutrients.png" alt="Soil Analysis">
            </div>
            <h3>Nutrient Imbalance Detector</h3>
        </div>

    </div>
</section>



    <!-- Team Section -->
    <section id="team" class="team">
        <h2>Our Team</h2>
        <div class="team-members">
            <!-- Team Member 1 -->
            <div class="team-member">
                <img src="../static/images/431601999_2769493616535677_6928607827241779524_n.jpg" alt="Khale Sh Gaber">
                <div class="team-info">
                    <h3>Khale Sh Gaber</h3>
                    <p>Team Leader</p>
                    <div class="bio">Khaled is an AI & Data Science Engineer.</div>
                    <div class="social-links">
                        <a href="#"><img src="../static/images/facebook.png" alt="Facebook"></a>
                        <a href="#"><img src="../static/images/twitter.png" alt="Twitter"></a>
                        <a href="#"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>

            <!-- Team Member 2 -->
            <div class="team-member">
                <img src="../static/images/431601999_2769493616535677_6928607827241779524_n.jpg" alt="Khale Sh Gaber">
                <div class="team-info">
                    <h3>Khale Sh Gaber</h3>
                    <p>Team Leader</p>
                    <div class="bio">Khaled is an AI & Data Science Engineer.</div>
                    <div class="social-links">
                        <a href="#"><img src="../static/images/facebook.png" alt="Facebook"></a>
                        <a href="#"><img src="../static/images/twitter.png" alt="Twitter"></a>
                        <a href="#"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>

            <!-- Team Member 3 -->
            <div class="team-member">
                <img src="../static/images/431601999_2769493616535677_6928607827241779524_n.jpg" alt="Khale Sh Gaber">
                <div class="team-info">
                    <h3>Khale Sh Gaber</h3>
                    <p>Team Leader</p>
                    <div class="bio">Khaled is an AI & Data Science Engineer.</div>
                    <div class="social-links">
                        <a href="#"><img src="../static/images/facebook.png" alt="Facebook"></a>
                        <a href="#"><img src="../static/images/twitter.png" alt="Twitter"></a>
                        <a href="#"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-members">
            <!-- Team Member 1 -->
            <div class="team-member">
                <img src="../static/images/431601999_2769493616535677_6928607827241779524_n.jpg" alt="Khale Sh Gaber">
                <div class="team-info">
                    <h3>Khale Sh Gaber</h3>
                    <p>Team Leader</p>
                    <div class="bio">Khaled is an AI & Data Science Engineer.</div>
                    <div class="social-links">
                        <a href="#"><img src="../static/images/facebook.png" alt="Facebook"></a>
                        <a href="#"><img src="../static/images/twitter.png" alt="Twitter"></a>
                        <a href="#"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>

            <!-- Team Member 2 -->
            <div class="team-member">
                <img src="../static/images/431601999_2769493616535677_6928607827241779524_n.jpg" alt="Khale Sh Gaber">
                <div class="team-info">
                    <h3>Khale Sh Gaber</h3>
                    <p>Team Leader</p>
                    <div class="bio">Khaled is an AI & Data Science Engineer.</div>
                    <div class="social-links">
                        <a href="#"><img src="../static/images/facebook.png" alt="Facebook"></a>
                        <a href="#"><img src="../static/images/twitter.png" alt="Twitter"></a>
                        <a href="#"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>

            <!-- Team Member 3 -->
            <div class="team-member">
                <img src="../static/images/431601999_2769493616535677_6928607827241779524_n.jpg" alt="Khale Sh Gaber">
                <div class="team-info">
                    <h3>Khale Sh Gaber</h3>
                    <p>Team Leader</p>
                    <div class="bio">Khaled is an AI & Data Science Engineer.</div>
                    <div class="social-links">
                        <a href="#"><img src="../static/images/facebook.png" alt="Facebook"></a>
                        <a href="#"><img src="../static/images/twitter.png" alt="Twitter"></a>
                        <a href="#"><img src="../static/images/linkedin.png" alt="LinkedIn"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p>Have questions? <a href="mailto:gaberkhaled780@gmail.com">Contact Us</a></p>        
        <div class="footer-content">
            <p>&copy; 2024 Sigmoid inc . All Rights Reserved.</p>
            <div class="social-links">
                <a href="https://www.facebook.com/" target="_blank" class="social-icon">
                    <img src="../static/images/facebook.svg" alt="Facebook">
                </a>
                <a href="https://www.twitter.com/" target="_blank" class="social-icon">
                    <img src="../static/images/twitter-alt.svg" alt="Twitter">
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="social-icon">
                    <img src="../static/images/instagram.svg" alt="Instagram">
                </a>
                <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
                    <img src="../static/images/linkedin.svg" alt="LinkedIn">
                </a>
            </div>
        </div>   
     </footer>

</body>
</html>